# Framework Web Principal
Django>=4.2,<6.0

djangorestframework>=3.14.0

# Ferramentas Auxiliares e Segurança de Variáveis
django-environ>=0.11.0

# Servidor e Arquivos Estáticos
gunicorn>=21.2.0
whitenoise>=6.5.0

# Extensão para facilitar formulários elegantes com Bootstrap (opcional, mas recomendado)
django-crispy-forms>=2.1
crispy-bootstrap5>=2024.2

# Ferramentas de Testes (Unitários, API e E2E/Playwright)
pytest>=7.4.0
pytest-django>=4.5.0
pytest-playwright>=0.4.0
pytest-cov>=4.1.0
playwright>=1.49.0
locust>=2.15.0
requests>=2.28.0

# Banco de Dados e Utilitários
psycopg2-binary>=2.9.6
python-dotenv>=1.0.0

# Conector de Banco de Dados (Caso decida usar PostgreSQL no futuro; por padrão o Django usa SQLite nativo)
# psycopg2-binary>=2.9.9